.section__subtitle {
  width: 60%;
  margin: 20px auto 0px;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
.section_subtitle_theme_dark {
  text-align: center;
  width: 60%;
  margin: 20px auto 0px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal; 
  }
  .section_subtitle_cards {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 20px;
  width: 60%;
}