.khan__book-container {
  display: flex;
  align-self: flex-start;
}
.khan__book-pic {
  width: 620px;
  height: 608px;
  margin-right: 48px;
}
.khan__book-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  }