.footer__column-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 16px;
  list-style-type: none;
  margin-right: auto;
  padding: 0px;
  }