.section__title {
  text-align: center;
  width: 60%;
  margin: 100px auto 0px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  }
  .section_title_theme_dark {
  text-align: center;
  width: 60%;
  margin: 90px auto 0px;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold; 
  }
  .section_title_cards {
    line-height: 1.15;
    font-size: 60px;
    font-weight: bold;
    margin-top: 100px;
    width: 60%;
  }