@import url(./table__cell/table__cell.css);
@import url(./table__heading/table__heading.css);
@import url(./table__text/table__text.css);

.table {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 1100px;
  margin: 60px auto 100px;
  list-style-type: none;
}
.table_theme_dark {
  z-index: 1;
  margin: 0px auto 90px; /* В брифе указано 90px*/
 }